.footer {
  font-style: normal;
    background-color: $color-bg-dark;
text-align: center;
    &__logo {
        @extend .logo;
        color: $color-light;

        &.accent {
            @extend .logo__accent;
        }
    }
}
.footer__first-block {
    @media screen and (min-width: 1200px) {
    
    text-align: start;
    
    }
}
 

.footer-address {
    font-style: normal;
    margin-top: 20px;
}
.footer-address__list {
    @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
    }
}

.footer-address__item:not(:last-child) {
    margin-bottom: 9px;  
}

.footer-address__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
    color: $color-light;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: rgba(255, 255, 255, 0.60);
    }
          @media screen and (min-width: 1200px) {
              font-size: 16px;
            text-align: left;
          }
}

.footer__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 1200px) {
    text-align: left;
    font-size: 16px;
    }

    &:hover,
    &:focus {
        color: $color-light;
    }
}        

