// .menu-button {
//     display: inline-flex;
//    justify-content: center;
//     align-items: center;
//     padding: 0;
//     margin: 0;
//     width: 40px;
//     height: 40px;
//     border: none;
//     outline: none;
//     background-color: transparent;

// @media screen and (min-width: 768px) {
//     display: none;
// }
// }


/
//  .menu-container {
   
//    display: flex;
//    flex-direction: column;
//  display: none;
//     justify-content: space-between;
//     position: fixed;
// //     z-index: 10;
// top: 100%;
// //     top:0;
//  left: 0;
//  width: 100%;
// //     // height: 400px;
//     height: 100%;
//     background-color: $color-light;
//    padding: 48px 40px;
//     text-align: start;
//     font-size: 40px;
//    &.is-open {  
//       display: block;
//   }    
//    @media screen and (min-width: 768px) {
//     display: none;
//    }

/
.container {
    min-width: 320px;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.page-header .container {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-menu {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width: 767px) {
    .header-menu {
        display: none;
    }
}
.header-menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.header-menu .link:hover,
.header-menu .link:focus {
    text-decoration: underline;
}
.menu-toggle {
    position: absolute;
        top: 16px;
        right: 16px;
        color: #fff;
    min-height: 40px;
    min-width: 40px;
     display: flex;
    
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: #fff;
    // background-color: transparent;
    cursor: pointer;
    border: none;
    // border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    // background-color: #3f51b5;
    border-color: #fff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

// .menu-container .menu-toggle {
//     position: absolute;
//     top: 16px;
//     right: 16px;
//     color: #fff;
// }

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.menu-toggle:hover .header-menu__icon-open,
.menu-toggle:focus .header-menu__icon-open,
.menu-toggle:hover .header-menu__icon-close, 
.menu-toggle:focus .header-menu__icon-close {
    fill: $color-brand;
}
.mobile-menu__item:not(:last-child) {
margin-bottom: 32px;
}
.mobile-menu__link {
color: $color-primary;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
}
.mobile-menu__link:hover,
.mobile-menu__link:focus {
color: $color-brand;
}

.mobile-contact__list {
    margin-top: auto;
}
.mobile-contact__item {
margin-bottom: 32px;
}
.mobile-contact__item:last-child {
margin-bottom: 64px;
}
.mobile-contact__link{
color: $color-secondary;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.mobile-contact__link:hover,
.mobile-contact__link:focus{
color: $color-brand;
}
.mobile-contact__link-mail {
    
        font-size: 24px;
       
       
       
        letter-spacing: 0.48px;
}
.mobile-contact__link-tel {
font-size: 34px;
letter-spacing: 0.68px;
}
.mobile-socials__list {
    display: flex;
    align-items: center;
    justify-content: start;
   
}
.mobile-socials__item:not(:last-child) {
 margin-right: 20px;
}
.mobile-socials__link {
color: #2196F3;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.36px;
}
// .menu-close-button {
//   @extend .menu-button;
//   position: absolute;
//   top: 10px;
//   right: 15px;
// }

