.menu-toggle {
    display: inline-flex;
   justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;

@media screen and (min-width: 768px) {
    display: none;
}
} 
 .menu-container {
     display: none;
    position: fixed;
   z-index: 10;
 top:0;
 left: 0;
 width: 100%;
 height: 100%;
    background-color: $color-light;
   padding: 48px 40px;
   font-size: 40px;
   &.is-open {  
    display: flex;
  }    
   @media screen and (min-width: 768px) {
    display: none;
   }

  }
  .mobile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }


.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
 }
.menu-toggle .icon-open,
.menu-toggle .icon-close {
transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}


.menu-toggle:hover .icon-open,
.menu-toggle:focus .icon-open {
    fill: $color-brand;
}
.menu-toggle:hover .icon-close, 
.menu-toggle:focus .icon-close {
    fill: $color-brand;
}
.mobile-menu__item:not(:last-child) {
margin-bottom: 32px;
}
.mobile-menu__link {
color: $color-primary;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    padding: 10px;
    transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover,
.mobile-menu__link:focus {
color: $color-brand;
}

.mobile-contact__list {
     margin-top: auto;
}
.mobile-contact__item {
margin-bottom: 32px;
}
.mobile-contact__item:last-child {
margin-bottom: 64px;
}
.mobile-contact__link{
color: $color-secondary;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 10px;
}

.mobile-contact__link:hover,
.mobile-contact__link:focus{
color: $color-brand;
}
.mobile-contact__link-mail {
    font-size: 24px;
         letter-spacing: 0.48px;
}
.mobile-contact__link-tel {
font-size: 34px;
letter-spacing: 0.68px;
color: $color-brand;
}
.mobile-socials__list {
    display: flex;
    align-items: center;
    justify-content: start;
   
}
.mobile-socials__item:not(:last-child) {
 margin-right: 20px;
}
.mobile-socials__link {
color: #2196F3;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.36px;
    padding: 10px;
    }

