.hero {
    width: 100%;
    max-width: 1600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-background-hero;
    background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media screen and (min-width: 480px) {
            padding-top: 118px;
                padding-bottom: 118px;
            }
                @media screen and (max-width: 480px) {
background-image: linear-gradient(to right, #2F303A66, #2F303A66),
        url(../images/imgHerosm.jpg);
    
                    @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, #2F303A66, #2F303A66),
                    url(../images/imgHerosm@2x.jpg);
            }
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
        background-image: linear-gradient(to right, #2F303A66, #2F303A66),
                url(../images/imgHeromd.jpg);
        
                @media screen  and (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        background-image: linear-gradient(to right, #2F303A66, #2F303A66),
                            url(../images/imgHeromd@2x.jpg);
                    }
                }
    
            @media screen and (min-width: 768px) {
background-image: linear-gradient(to right, #2F303A66, #2F303A66),
        url(../images/imgHerolg.jpg);
            
        @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, #2F303A66, #2F303A66),
                    url(../images/imgHerolg@2x.jpg);
            }
        }
 @media screen and (min-width: 1200px) {
    padding-top: 200px;
        padding-bottom: 200px;
 }
    }


.hero__title {
    margin-bottom: 30px;
    width: 360px;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.61;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: $color-light;
    @media screen and (min-width: 320px) and (max-width: 479px) {
    width: 300px;
    font-size: 18px;
    }
@media screen and (min-width: 1200px) {
    font-size: 44px;
width: 696px;
}
}