.policy {
    position: relative;
    @extend .centred;
    @media screen and (max-width: 479px) {
            margin-bottom: 12px;
            @media (orientation:landscape) {
                margin-bottom: 0;
            }
        }
    
        @media screen and (min-width: 480px) {
            margin-bottom: 30px;
            @media (orientation:landscape) {
                margin-bottom: 0;
            }
        }
}

.policy__custom-checkbox {
@extend .centred;

    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid #212121;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .policy__checkbox:hover + &,
    .policy__checkbox:focus + &,
    .policy__checkbox:checked + & {
        border-color: $color-brand;
    }
    
     

.policy__checkbox:checked + & {
            outline: transparent;
            border: 0.2px solid #FFFFFF;
            background-color: $color-brand;
        }
    }
   
.policy__text {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: $color-secondary;
    @media screen and (max-width: 479px) {
            font-size: 10px;
    }
            @media screen and (min-width: 480px) {
                    font-size: 12px;
            }
@media screen and (min-width: 1200px) {
    font-size: 14px;
}
    }

.policy__icon {
    opacity: 0;
    fill: $color-light;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .policy__checkbox:checked + .policy__custom-checkbox .policy__icon {
        opacity: 1;
    }

.policy__conditions {
    color: $color-brand;
    text-decoration: underline;
}