.projects__list {
    @media screen and (min-width: 768px) {
 display: flex;
    flex-wrap: wrap;
    
    align-items: stretch;
    margin: -15px;
}

.projects__item {
        @media screen and (max-width: 479px) {
        width: 100%;}
         @media screen and (min-width: 480px) {
    width: 450px;
         }
   
    @media screen and (min-width: 768px) {
        //  width: 354px;
        margin: 15px;
         flex-basis: calc(50% - 30px);
    }
        @media screen and (min-width: 1200px) {
            //  width: 370px;
         flex-basis: calc(33.33% - 30px);
        }
}
}

.projects__item:not(:last-child) {
    @media screen and (max-width: 767px) {
    margin-bottom: 30px;
}
}