.projects__list {
    @media screen and (min-width: 768px) {
 display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.projects__item {
    width: 450px;
   
    @media screen and (min-width: 768px) {
        //  width: 354px;
        margin: 15px;
         flex-basis: calc(50% - 30px);
    }
        @media screen and (min-width: 1200px) {
            //  width: 370px;
         flex-basis: calc(33.33% - 30px);
        }
}
}
.projects__list:not(:last-child) {
    @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-bottom: 30px;
}
}