 $color-primary: #212121;
 $color-secondary: #757575;
 $color-brand: #2196F3;
 $color-bg-dark: #2F303A;
 $color-bg-dark-transparent: #2F303A66;
 $color-light: #FFF;
 $color-logo: #000;
 $color-button: #188CE8;
 $color-bg-light: #F5F4FA;
 $border-color: #EEEEEE;
 $color-background-hero: #C4C4C4;
 $color-social-footer: #FFFFFF1A;
 $color-social-icons: #AFB1B8;
 $main-font-family: "Roboto", sans-serif;
 $logo-font-family: 'Raleway', sans-serif;


 